/*
 * @Author: @Guojufeng 
 * @Date: 2019-04-25 20:02:03 
 * @Last Modified by: @Guojufeng
 * @Last Modified time: 2019-04-25 20:07:18
 */
body{
  background: #def;
  color: rgb(0, 79, 143);
}
h1{
  margin: 0;
  padding: 10px 20px;
  border: 1px solid rgb(255, 74, 165);
}