extends ../node_modules/yi-yiche-ui/m-widget/src/pug/layout.pug
block pugConfig
  -const pugConfig={titleText:`QQ音乐`, cssName:`public`, confName:`index`, isNotSpa:false, otherJs: false, column:'1', bodyClassName:[''], hrefUrl:'../'};
block mainLeft
  .loading
    .load #[i.icon.icon-loading]加载中...
  