extends ../node_modules/yi-yiche-ui/m-widget/src/pug/layout.pug
block pugConfig
  -const pugConfig={titleText:`伙伴之星集团周榜`, cssName:`rankOfGroup`, confName:`rankOfGroup`, isNotSpa:false, otherJs: false, column:'1', bodyClassName:[''], hrefUrl:'../'};
block mainLeft

  .group-rank-wrap
    .logo
    .group-time 2019年 #[span.Month]月 第#[span.WeekNo]周
    .group-title
    .group-name 浙江物产元通汽车浙江物产元通汽车集团
    .group-table
      //品牌&城市选择
      .rank-select
        .sel-box
          .brand-box.box-btn.active #[span.text#carButton(data-id='null') 全部品牌]
          .city-box.box-btn #[span.text#cityButton(data-id='0') 全部城市]
      // 内容列表
      .rank-list
        table.yi-table
          colgroup
            col(width='70')
            col(width='90')
            col(width='120')
            col(width='120')
            col(width='70')
            col(width='100')
          thead
            tr.rank-title
              th 周排名
              th 姓名
              th 经销商简称
              th 品牌
              th 得分
              th 获得周之星次数
          tbody
            tr
              td 88888
              td 郭菊锋
              td 北京比特易湃公司
              td 东风悦达起亚
              td 100
              td.star 10
            tr
              td 12345
              td 郭菊锋啊
              td 北京比特易湃公司
              td 东风悦达起亚
              td 99.99
              td --
      //- 无数据状态
      .rank_nodate
      //- 正在加载结构
      .list-more 
    .footer 伙伴之星活动由易车伙伴主办，旨在选拔汽车集团内行业精英，给予获得者及所在店物质和荣誉奖励。集团周榜只展示前100名的销售人员信息及周排名。 
    ///排行榜列表
  .yi-popup-mask
  .yi-popup.translR#cityPopup
    .pop-scroll.yi-province
      dl.list-box
        //- dt.all #[p.txt 全部城市]
        //- dt.tit #[span A]
        //- dd.lst #[p.txt 安徽]
        //- dt.tit #[span B]
        //- dd.lst #[p.txt 北京]
    .pop-scroll.yi-city.translR
      dl.list-box
        dt.tit.pop-back #[span 广东]
        //- dd.lst #[p.txt 广州]
        //- dd.lst #[p.txt 深圳]
  /// 省市结束
  .yi-popup.translR#carPopup
    .pop-scroll.yi-carbrand
      dl.list-box
        dt.lst(data-id='null') #[p.car-name 全部品牌]
        dd.lst(data-id='Member128') #[p.car-name 奥迪]
        dd.lst(data-id='Member127') #[p.car-name 宝马]
        dd.lst(data-id='Member126') #[p.car-name 保时捷]
        dd.lst(data-id='Member018') #[p.car-name 北京现代]
        dd.lst(data-id='Member123') #[p.car-name 奔驰]
        dd.lst(data-id='Member122') #[p.car-name 比亚迪]
        dd.lst(data-id='Member026') #[p.car-name 别克]
        dd.lst(data-id='Member118') #[p.car-name 东风本田]
        dd.lst(data-id='Member109') #[p.car-name 东风风行]
        dd.lst(data-id='Member116') #[p.car-name 东风日产]
        dd.lst(data-id='Member113') #[p.car-name 东风小康]
        dd.lst(data-id='Member111') #[p.car-name 东风悦达起亚]
        dd.lst(data-id='Member009') #[p.car-name 福特]
        dd.lst(data-id='Member079') #[p.car-name 广汽本田]
        dd.lst(data-id='Member107') #[p.car-name 广汽传祺]
        dd.lst(data-id='Member092') #[p.car-name 广汽菲克]
        dd.lst(data-id='Member106') #[p.car-name 广汽丰田]
        dd.lst(data-id='Member031') #[p.car-name 广汽三菱]
        dd.lst(data-id='Member038') #[p.car-name 汉腾]
        dd.lst(data-id='Member215') #[p.car-name 华晨汽车]
        dd.lst(data-id='Member096') #[p.car-name 吉利]
        dd.lst(data-id='Member095') #[p.car-name 江淮]
        dd.lst(data-id='Member039') #[p.car-name 江铃]
        dd.lst(data-id='Member093') #[p.car-name 捷豹路虎]
        dd.lst(data-id='Member165') #[p.car-name 捷途]
        dd.lst(data-id='Member025') #[p.car-name 凯迪拉克]
        dd.lst(data-id='Member091') #[p.car-name 雷克萨斯]
        dd.lst(data-id='Member090') #[p.car-name 雷诺]
        dd.lst(data-id='Member088') #[p.car-name 猎豹]
        dd.lst(data-id='Member141') #[p.car-name 领克]
        dd.lst(data-id='Member033') #[p.car-name 奇瑞]
        dd.lst(data-id='Member115') #[p.car-name 启辰]
        dd.lst(data-id='Member067') #[p.car-name 上汽大通]
        dd.lst(data-id='Member030') #[p.car-name 上汽大众]
        dd.lst(data-id='Member027') #[p.car-name 上汽名爵]
        dd.lst(data-id='Member028') #[p.car-name 上汽荣威]
        dd.lst(data-id='Member029') #[p.car-name 斯柯达]
        dd.lst(data-id='Member020') #[p.car-name 沃尔沃]
        dd.lst(data-id='Member209') #[p.car-name 五菱-宝骏]
        dd.lst(data-id='Member024') #[p.car-name 雪佛兰]
        dd.lst(data-id='Member012') #[p.car-name 一汽奔腾]
        dd.lst(data-id='Member203') #[p.car-name 一汽-大众]
        dd.lst(data-id='Member015') #[p.car-name 一汽丰田]
        dd.lst(data-id='Member013') #[p.car-name 一汽红旗]
        dd.lst(data-id='Member011') #[p.car-name 一汽马自达]
        dd.lst(data-id='Member169') #[p.car-name 长安乘用]
        dd.lst(data-id='Member007') #[p.car-name 长安马自达]
        dd.lst(data-id='Member006') #[p.car-name 长安欧尚]
        dd.lst(data-id='Member004') #[p.car-name 长城]
        dd.lst(data-id='Member034') #[p.car-name 长城WEY]
        dd.lst(data-id='Member001') #[p.car-name 众泰]
    //- 品牌 end
  /// 品牌车型结束
  // loading
  .loading
    .load #[i.icon.icon-loading]加载中...
  script.
    var bType = 0; //统计数据用的，都填0
    var bId = '0';
    var bSubId = '0';
    var bTypeKeyId = '0';
    var photourl ="https://img1.bitautoimg.com/das/fed/yi-oph5/tree/release/rankingOfWeek/dist/images/share.jpg";
    var shareTitle = "XXX集团伙伴之星周榜 2019年X月第X周";//伙伴之星•星排行 2019年X月第X周
    var shareLink = 'https://link.easypass.cn/PartnerStar/web2019/rankingOfWeek.html';
    var shareDesc = '本周集团Top100，看你是否上榜？';
  script(src="https://image.bitautoimg.com/das/fe/cdnJs/jquery-1.4.2.min.js")
  script(src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js")
  script(src="https://img.easypass.cn/bt/dealerh5/20151015/js/wxshare.min.js" type="text/javascript")