.yi-frames{
    .translT,
    .translR,
    .translB,
    .translL{
        transition: transform .4s;
        &.open{
            transform: translate(0, 0);
        }
    }

    .translT,
    .translB{
        left: 0;
        right: 0;
    }
    .translT{
        top: 0;
        transform: translate(0, -200%);
    }
    .translB{
        bottom: 0;
        transform: translate(0,200%);
    }

    
    .translL,
    .translR{
        top: 0;
        bottom: 0;
    }
    .translR{
        right: 0;
        transform: translate(200%, 0);
    }
    .translL{
        left: 0;
        transform: translate(-200%, 0);
    }
    // 方向 end

    .yi-popup-mask{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        background-color: rgba($color: #000000, $alpha: .4);
        &:before,
        &:after{
            content: '';
            position: absolute;
            left: 18%;
            top: 50%;
            width: 20px;
            height: 20px;
            border-right: 4px solid #fff;
            border-bottom: 4px solid #fff;
            transform: rotate(-45deg) translateY(-50%);
        }
        &:after{
            left: 16%;
        }
    }
    .yi-popup{
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 9999;
        width: 5rem;
    }
    .pop-scroll{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        color: #333B48;
        width: 500px;
        background-color: #fff;
        -webkit-overflow-scrolling: touch;
        .list-box{
          padding-bottom: 45px;
        }
        .list-box > *{
            position: relative;
            padding-left: 30px;
            padding-right: 30px;
            line-height: 50px;
        }
        .tit{
            color: #999;
            font-size: 30px;
            background-color: #f3f3f3;
        }
        .lst{
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 28px;
        }
        .lst + .lst{
            &:after{
                content: "";
                position: absolute;
                left: 30px;
                right: 30px;
                top: 0;
                display: block;
                height: 0;
                overflow: hidden;
                border-top: 1px solid #e9e9e9;
            }
        }

        .all{
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .car-logo{
            padding-top: 10px;
            padding-bottom: 10px;
            width: 60px;
            height: 60px;
        }
        .car-name{
            // margin-left: 15px;
            // display: inline-block;
            // max-width: 263px;
            // font-size: 32px;
            // vertical-align: middle;
        }
        .car-img{
            padding-top: 10px;
            padding-bottom: 10px;
            width: 180px;
            height: 120px;
        }
        .yi-loading{
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .yi-city{
        .tit{
            padding: 10px 0 10px 60px;
            &:before{
                content: "";
                position: absolute;
                left: 30px;
                top: 50%;
                display: block;
                width: 20px;
                height: 20px;
                border-left: 2px solid #999;
                border-bottom: 2px solid #999;
                transform: translateY(-50%) rotate(45deg);
            }
        }
    }
    // popup end



}